:root {
	// typography

	--font-family: "Montserrat", sans-serif;
	--font-family-title: "Bebas Neue", sans-serif;
	--font-family-compact: "MTS Compact", ubuntu;
	--font-size-m: 12px;
	--font-line-m: 20px;
	--font-size-l: 20px;
	--font-line-l: 24px;
	--font-size-xl: 34px;
	--font-line-xl: 42px;
	--font-main: var(--font-size-m) / var(--font-line-m) var(--font-family);
	--font-large: var(--font-size-l) / var(--font-line-l) var(--font-family);
	--font-xlarge: var(--font-size-xl) / var(--font-line-xl) var(--font-family);
	font: var(--font-xl);

	// размеры
	--navbar-height: 60px;

	//цвета
	--text-headline: #000000;
	--text-main-heading: #3e3e3e;
	--text-primary: #1d2023;
	--text-secondary: #626c77;
	--text-tertiary: #969fa8;
	--text-inverted: #ffffff;
	--text-positive: #12b23f;
	--text-negative: #eb4a13;
	--text-primary-link: #007cff;
	--text-secondary-link: #969fa8;
	--background-lower: #f2f3f7;
	--background-primary: #ffffff;
	--background-primary-elevated: #ffffff;
	--background-modal: #ffffff;
	--background-stroke: rgba(188, 195, 208, 0.5);
	--background-secondary: #f2f3f7;
	--background-secondary-elevated: #ffffff;
	--background-secondary-inverted: #f2f3f7;
	--background-secondary-autofill: #f2f3f7;
	--background-inverted: #1d2023;
	--background-overlay: rgba(29, 32, 35, 0.4);
	--background-hover: rgba(188, 195, 208, 0.25);
	--background-ghost-hover: rgba(188, 195, 208, 0.25);
	--background-navbar-ios: rgba(255, 255, 255, 0.92);
	--icons-primary: #000000;
	--icons-secondary: #969fa8;
	--icons-tertiary: #bbc1c7;
	--controls-primary-active: #ff0032;
	--controls-primary-active-hover: #ff0032;
	--controls-secondary-active: #1d2023;
	--controls-tertiary-active: #f2f3f7;
	--controls-tertiary-active-hover: #e2e5eb;
	--controls-inactive: rgba(188, 195, 208, 0.5);
	--controls-alternative: #ffffff;
	--controls-active-tabbar: #ff0032;
	--controls-inactive-tabbar: #aeb5bd;
	--accent-active: #007cff;
	--accent-positive: #26cd58;
	--accent-warning: #fac031;
	--accent-negative: #f95721;
	--brand-mts-red: #ff0032;
	--constant-main-dark: #e2e2e2;
	--controls-temporary: #fff;
	--constant-greyscale-900: #000000;
	--constant-greyscale-800: #1d2023;
	--constant-greyscale-700: #2c3135;
	--constant-greyscale-600: #434a51;
	--constant-greyscale-500: #626c77;
	--constant-greyscale-400: #969fa8;
	--constant-greyscale-300: #bbc1c7;
	--constant-greyscale-200: #e2e5eb;
	--constant-greyscale-100: #f2f3f7;
	--constant-greyscale-0: #ffffff;
	--constant-darkest-blackberry: #002094;
	--constant-dark-blackberry: #003db7;
	--constant-normal-blackberry: #014fce;
	--constant-light-blackberry: #6384e0;
	--constant-lightest-blackberry: #e7eafa;
	--constant-darkest-blueberry: #0048aa;
	--constant-dark-blueberry: #007cff;
	--constant-normal-blueberry: #0097fd;
	--constant-light-blueberry: #45b6fc;
	--constant-lightest-blueberry: #e1f3fe;
	--constant-darkest-mint: #00724d;
	--constant-dark-mint: #03a17b;
	--constant-normal-mint: #00c19b;
	--constant-light-mint: #00d9bc;
	--constant-lightest-mint: #dff9f5;
	--constant-darkest-apple: #027722;
	--constant-dark-apple: #04aa42;
	--constant-normal-apple: #26cd58;
	--constant-light-apple: #74df8b;
	--constant-lightest-apple: #e8faeb;
	--constant-darkest-lime: #808201;
	--constant-dark-lime: #a6c100;
	--constant-normal-lime: #c1eb1d;
	--constant-light-lime: #d3f36b;
	--constant-lightest-lime: #f8fee7;
	--constant-darkest-banana: #f37f19;
	--constant-dark-banana: #fac031;
	--constant-normal-banana: #fbe739;
	--constant-light-banana: #fdf177;
	--constant-lightest-banana: #fffde8;
	--constant-darkest-orange: #ba360a;
	--constant-dark-orange: #e04a17;
	--constant-normal-orange: #f95721;
	--constant-light-orange: #ffa080;
	--constant-lightest-orange: #fbe9e7;
	--constant-darkest-raspberry: #8e003f;
	--constant-dark-raspberry: #c51345;
	--constant-normal-raspberry: #ea1f49;
	--constant-light-raspberry: #f55f7e;
	--constant-lightest-raspberry: #ffe4e9;
	--constant-darkest-cranberry: #7f3363;
	--constant-dark-cranberry: #bb4079;
	--constant-normal-cranberry: #e54887;
	--constant-light-cranberry: #e677ad;
	--constant-lightest-cranberry: #f9e7f0;
	--constant-darkest-plum: #471c61;
	--constant-dark-plum: #6d2d79;
	--constant-normal-plum: #883888;
	--constant-light-plum: #a86ea7;
	--constant-lightest-plum: #f0e7f0;
	--primary-control-hover-color: #ff0032;
	--archive-service-grayscale: #e2e5eb;
}
