.title {
	color: black;
}

.text {
	color: rgb(56, 48, 48);
}

.error {
	.title {
		color: red;
	}

	.text {
		color: red;
	}
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.size_s {
	.title {
		font: var(--font-main);
	}

	.text {
		font: var(--font-s);
	}
}

.size_m {
	.title {
		font: var(--font-large);
	}

	.text {
		font: var(--font-main);
	}
}

.size_l {
	.title {
		font: var(--font-xlarge);
	}

	.text {
		font: var(--font-large);
	}
}

.black {
	.text {
		color: black;
	}
}

.white {
	.text {
		color: white;
	}
	.title {
		color: white;
	}
}

.red {
	.text {
		color: red;
	}
	.title {
		color: red;
	}
}
