.spinnerContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes ldio-gi8gkqmuuhv {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.ldio-gi8gkqmuuhv div {
	left: 97px;
	top: 57px;
	position: absolute;
	animation: ldio-gi8gkqmuuhv linear 1s infinite;
	background: #f5330c;
	width: 6px;
	height: 6px;
	border-radius: 3px / 3px;
	transform-origin: 3px 43px;
}
.ldio-gi8gkqmuuhv div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -0.9523809523809523s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(2) {
	transform: rotate(17.142857142857142deg);
	animation-delay: -0.9047619047619048s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(3) {
	transform: rotate(34.285714285714285deg);
	animation-delay: -0.8571428571428571s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(4) {
	transform: rotate(51.42857142857143deg);
	animation-delay: -0.8095238095238095s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(5) {
	transform: rotate(68.57142857142857deg);
	animation-delay: -0.7619047619047619s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(6) {
	transform: rotate(85.71428571428571deg);
	animation-delay: -0.7142857142857143s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(7) {
	transform: rotate(102.85714285714286deg);
	animation-delay: -0.6666666666666666s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(8) {
	transform: rotate(120deg);
	animation-delay: -0.6190476190476191s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(9) {
	transform: rotate(137.14285714285714deg);
	animation-delay: -0.5714285714285714s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(10) {
	transform: rotate(154.28571428571428deg);
	animation-delay: -0.5238095238095238s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(11) {
	transform: rotate(171.42857142857142deg);
	animation-delay: -0.47619047619047616s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(12) {
	transform: rotate(188.57142857142858deg);
	animation-delay: -0.42857142857142855s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(13) {
	transform: rotate(205.71428571428572deg);
	animation-delay: -0.38095238095238093s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(14) {
	transform: rotate(222.85714285714286deg);
	animation-delay: -0.3333333333333333s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(15) {
	transform: rotate(240deg);
	animation-delay: -0.2857142857142857s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(16) {
	transform: rotate(257.14285714285717deg);
	animation-delay: -0.23809523809523808s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(17) {
	transform: rotate(274.2857142857143deg);
	animation-delay: -0.19047619047619047s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(18) {
	transform: rotate(291.42857142857144deg);
	animation-delay: -0.14285714285714285s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(19) {
	transform: rotate(308.57142857142856deg);
	animation-delay: -0.09523809523809523s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(20) {
	transform: rotate(325.7142857142857deg);
	animation-delay: -0.047619047619047616s;
	background: #f5330c;
}
.ldio-gi8gkqmuuhv div:nth-child(21) {
	transform: rotate(342.85714285714283deg);
	animation-delay: 0s;
	background: #f5330c;
}
.loadingio-spinner-spinner-ha632gzuxfp {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: #ffffff;
}
.ldio-gi8gkqmuuhv {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-gi8gkqmuuhv div {
	box-sizing: content-box;
}
